<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/newrecipe.css">
    <link rel="stylesheet" href="/css/headerfooter.css">
    <title>Recipes | New</title>
</head>
<body>
    <%- include('../partials/header') %>
    <%if (edit==="false") {
        buttonValue = 'Create Recipe'
        path='/auth/newRecipe'
        recipe.title = ''
        recipe.image = ''
        recipe.description = ''
        recipe.Ingredients=[{name: [''], 
            RecipeIngredients: [{quantity: [''], units: ['']}]
        }]
        recipe.Directions =[{step_number: [1], step: ['']}]
    } else if(edit==="random") {
        buttonValue = 'Create Random Recipe'
        recipe.description = ''
        
    } else >
        buttonValue = 'Edit Recipe'
        path=`/auth/${recipe.id}?_method=PUT`
    } %>
    <form action="<%=path%>" method="POST">
    <h3>General</h3>
        Title: <input type='text' name='title' value='<%=recipe.title%>' />
        Image Url: <input type='text' name='image' value="<%=recipe.image%>" />
        Description: <input type='text' name='description' value="<%=recipe.description%>" />
       <input class='hidden' type='number' name='userId' value="<%=user.id%>" />

    <h3>Ingredients</h3>
        <button id='addIngredient' type='button'>Add another ingredient</button>
            <div id='ingredient'>
                <%for (let i=0; i<recipe.Ingredients.length; i++) {%>               
                    <p>
                        <input class='hidden' type="number" name='ingredientId' value="<%=recipe.Ingredients[i].id%>"/>
                    Name: <input type='text' name='name' value="<%=recipe.Ingredients[i].name%>"/>
                    Amount: <input type='number' name='quantity' value="<%=recipe.Ingredients[i].RecipeIngredients[0].quantity%>" />
                    Unit: <input type='text' name='units' value="<%=recipe.Ingredients[i].RecipeIngredients[0].units%>"/>
                    </p>
                <%}%>
            </div>
 
    <h3>Directions</h3>
        <button id='addStep' type='button'>Add another step</button>
            <div id="step">
                <%for (let i=0; i<recipe.Directions.length; i++) {%>
                    <p>
                        <input class="hidden" type="number" name="directionId" value="<%=recipe.Directions[i].id%>">
                        <input class="stepNum hidden" type='number' name='step_number' value="<%=recipe.Directions[i].step_number%>"/>
                        Step <%=i+1%>: <textarea class="long" wrap='soft' maxlength='255' type='text' name='step' ><%=recipe.Directions[i].step%></textarea>      
                    </p>
                <%}%>
            </div>


        <input type='submit' value="<%=buttonValue%>" />
    </form>

    <%- include('../partials/footer') %>


    <script src='/javascript/script.js'></script>
</body>
</html>