<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/index.css" >
    <link rel="stylesheet" href="/css/headerfooter.css" >

    <title>Recipes | <%=user.name%></title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
    <h2><%=user.name%>'s profile</h2>
    <h3><%=user.name%>'s Saved Recipes</h3>
    <ul>
        <% for (let i = 0; i < user.savedRecipes.length; i++) { %>
        <li>
            <a href="/index/<%=user.savedRecipes[i].id%>" ><img src='<%=user.savedRecipes[i].image%>' alt='<%=user.savedRecipes[i].title%>' style="max-width: 100px; max-height: 200px;" />
            <%=user.savedRecipes[i].title%>
            </a>
        </li>
    <% } %>
    </ul>

    <h3><%=user.name%>'s' Created Recipes</h3>
    <ul>
        <% for (let i = 0; i < user.CreatedRecipes.length; i++) { %>
        <li>
            <a href="/index/<%=user.CreatedRecipes[i].id%>" >
            <img src='<%=user.CreatedRecipes[i].image%>' alt='<%=user.CreatedRecipes[i].title%>' style="max-width: 100px; max-height: 200px;" />
            <%=user.CreatedRecipes[i].title%>
            </a>
        </li>
    <% } %>
    </ul>
    </main>
    <%- include('../partials/footer') %>
    
</body>
</html>