<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/index.css" >
    <link rel="stylesheet" href="/css/headerfooter.css" >

    <title>Recipes | <%=user.name%></title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
    <h2><%=user.name%>'s profile</h2>
    <ul>
        <li>email: <%=user.email%></li>
    </ul>
    <form action='/auth/new?_method=get&edit=false' method="POST">
        <input type="submit" value="Create New Recipe">
    </form>
    <form action='/auth/new?_method=get&edit=false&random=true' method="POST">
        <input type="submit" value="Random Recipe">
    </form>
    <h3>My Saved Recipes</h3>
    <ul>
        <% for (let i = 0; i < user.savedRecipes.length; i++) { %>
        <li class='listelements'>
            <h4><%=user.savedRecipes[i].title%></h4>
            <a href="/index/<%=user.savedRecipes[i].id%>" ><img src='<%=user.savedRecipes[i].image%>' alt='<%=user.savedRecipes[i].title%>' style="max-width: 100px; max-height: 200px;" />
            </a>
            <form action='/profile/<%=user.savedRecipes[i].id%>/<%=user.id%>?_method=DELETE' method="POST">
                <input type="submit" value='Remove'/>
            </form>
        </li>
    <% } %>
    </ul>

    <h3>My Created Recipes</h3>
    <ul>
        <% for (let i = 0; i < user.CreatedRecipes.length; i++) { %>
        <li class='listelements'>
            <h4><%=user.CreatedRecipes[i].title%></h4>
            <a href="/index/<%=user.CreatedRecipes[i].id%>" >
            <img src='<%=user.CreatedRecipes[i].image%>' alt='<%=user.CreatedRecipes[i].title%>' style="max-width: 100px; max-height: 200px;" />
            </a>
            <form action='/index/<%=user.CreatedRecipes[i].id%>?_method=DELETE' method="POST">
                <input type="submit" value='Delete'/>
            </form>
            <form action='/auth/new?_method=get&recipeid=<%=user.CreatedRecipes[i].id%>&edit=true' method="POST">
                <input type="submit" value='Edit'/>
            </form>
        </li>
    <% } %>
    </ul>
    </main>
    <%- include('../partials/footer') %>
    
</body>
</html>