<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/headerfooter.css" />
    <title>Recipes</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class='contentWrapper'>
                <% for (let i = 0; i < recipes.length; i++) { %>
                    <li class='listelements'>
                        <h4><%=recipes[i].title%></h4>
                        <a href="/index/<%=recipes[i].id%>"><img class='recipeImage' src='<%=recipes[i].image%>' alt='Picture of Recipe'/></a>
                        <p class='imgDescription'><%=recipes[i].description%></p>
                        <a class='link' href="/index/<%=recipes[i].id%>">View Recipe</a>                      
                    </li>
                <% } %>                
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>