<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/recipe.css" />
    <link rel="stylesheet" href="/css/headerfooter.css" />
    <title>Recipes</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h2><%=recipe.title%></h2>
        <div class='container'>
            <div class='image-ingredients'>
            <img src='<%=recipe.image%>' alt='<%=recipe.name%>' />
            <div class='ingredients'>
                <h3>Ingredients</h3>
                <ul>
                    <% recipe.Ingredients.forEach(ingredient => { %> 
                        <%for (let i=0; i<ingredient.RecipeIngredients.length; i++) { %>
                        <li><%=ingredient.name%> &nbsp;&nbsp;&nbsp; 
                            <%=ingredient.RecipeIngredients[i].quantity%> 
                            <%=ingredient.RecipeIngredients[i].units%></li>
                        <% } %>
                    <% }) %>

                </ul>
                </div>
            </div>
        </div>
        <h3>Directions</h3>
        <ol>
            <% directions.forEach(direction => { %>
                <li><%=direction.step%></li>
            <% }) %>
        </ol>

        <h3>Reviews</h3>
        <% if (user.id !== null) { %>
        <form action='/review/<%=recipe.id%>' method="POST">
            Review: <input type="text" name="review" />
            Rating: <input type="number" name="rating" min="0" max="5" />
            <input type="submit" value="Add Review" />
        </form>
        <% } %>
        <ul>
            <% for (let i = 0; i < reviews.length; i++) { %>
                <li class="review review-<%=reviews[i].id%>">
                    <h4 class="review-heading review-<%=reviews[i].id%>">
                        <a href='/profile/<%=reviews[i].User.username%>' ><%=reviews[i].User.name%></a>
                        gave this recipe 
                        <%=reviews[i].rating%> stars
                    </h4>
                    <p class="review-text review-<%=reviews[i].id%>"><%=reviews[i].review%></p>
                    <% if (reviews[i].User.username === user.username) { %>
                        <form action='/review/<%=reviews[i].id%>?_method=DELETE&recipeId=<%=recipe.id%>' method="POST">
                            <input type="submit" value="Delete Review" />
                        </form>
                        <button class='edit review-<%=reviews[i].id%>'>Edit Review</button>
                    <% } %>
                </li>

            <% } %>
        </ul>

    </main>
    <%- include('partials/footer') %>
    <script src='/javascript/editReview.js'></script>
</body>
</html>