<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/recipe.css" />
    <link rel="stylesheet" href="/css/headerfooter.css" />
    <title>Recipes</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h2><%=recipe.title%></h2>
        <img src='<%=recipe.image%>' alt='<%=recipe.name%>' />
        <h3>Ingredients</h3>
        <ul>
            <% recipe.Ingredients.forEach(ingredient => { %> 
                <li><%=ingredient.name%> &nbsp;&nbsp;&nbsp; 
                    <%=ingredient.RecipeIngredient.quantity%> 
                    <%=ingredient.RecipeIngredient.units%></li>
            <% }) %>
        </ul>
        <h3>Directions</h3>
        <ol>
            <% recipe.Directions.forEach(direction => { %>
                <li><%=direction.step%></li>
            <% }) %>
        </ol>
        <h3>Reviews</h3>
        <ul>
            <% for (let i = 0; i < reviews.length; i++) { %>
                <li class="review">
                    <h4 class="review-heading">
                        <a href='/profile/<%=reviews[i].User.username%>' ><%=reviews[i].User.name%></a>
                        gave this recipe 
                        <%=reviews[i].rating%> stars
                    </h4>
                    <p class="review-text"><%=reviews[i].review%></p>
                </li>

            <% } %>
        </ul>
    </main>
    <%- include('partials/footer') %>
</body>
</html>